@import "../.././node_modules/bootstrap/scss/bootstrap";

body{
    background: #fff;
}

#navbarScrollingDropdown{
    color: aliceblue;
}

ion-icon {
    font-size: 25px;
    
  }

.container{
    margin-top: 30px;
    margin-bottom: 30px;
}